.Header {
  height: 10%;
}

.verifyEmail-container {
  height: 80%;
  display: flex;
  .verifyEmail-content {
    justify-content: center;
    margin: 0 auto;
    .infor-booking {
      height: 100%;
      text-align: center;
      font-size: 30px;
      color: red;
      align-items: center;
      width: auto;
      height: 100px;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      position: absolute;
      margin: 300px auto;
      border-radius: 10px;
    }
  }
}

.content-footer {
  height: 10%;
  text-align: center;
  padding-top: 8px;
  background-color: rgb(132, 198, 230);
  border: 1px solid rgb(132, 198, 230);
}
