
.preview-img-container{
    .label-upload{
        padding: 5px;
        border-radius: 5px;
        background: #ddd;
        cursor: pointer;
    
        i{
            padding: 5px;
        }
    
        &:hover{
            opacity: 0.8;
        }
    }

    .preview-img{
        height: 50px;
        width: 100%;
        border: 2px solid #ddd;
        background: center center no-repeat;
        background-size: contain;
        cursor: pointer;
    }
}
